<li class="nav-item dropdown">
  <a class="nav-link" href='#' data-toggle="dropdown">Export</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" id='export-as-json'>JSON</a>
    <a class="dropdown-item" href="#" id='export-as-image'>PNG</a>
  </div>
</li>
