<li class="nav-item dropdown">
  <a class="nav-link" href='#' data-toggle="dropdown">Import</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" id="import-as-json">JSON</a>
  </div>
</li>
