* {
  box-sizing: border-box;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.canvas-wrapper {
  float: left;
  height: 100vh;
  overflow: hidden;
  width: calc(100vw - 366px);

  .canvas {
    height: 0;
    position: relative;
    transform: translate(calc(50vw - 183px - 24px), calc(50vh - 24px));
    width: 0;

    &::before {
      background-color: $white;
      background-image: linear-gradient(45deg, $light-grey 25%, transparent 25%, transparent 75%, $light-grey 75%, $light-grey),
      linear-gradient(45deg, $light-grey 25%, transparent 25%, transparent 75%, $light-grey 75%, $light-grey);
      background-position: 0 0, 48px 48px;
      background-size: 96px 96px;
      bottom: -4800px;
      box-shadow: inset 0 0 5px 5px $grey;
      content: '';
      left: -4800px;
      position: absolute;
      right: -4800px;
      top: -4800px;
    }
  }
}

.panel {
  border-left: 1px solid $dark-grey;
  float: right;
  height: 100vh;
  width: 366px;

  %panel-item {
    border: 1px solid $dark-grey;
    margin: 10px;
    overflow-y: scroll;
    padding: 10px;
  }

  .list-tiles {
    @extend %panel-item;
    height: calc(60vh - 15px);
  }

  .list-layers {
    @extend %panel-item;
    height: calc(40vh - 15px);
  }
}
