html,
body {
  max-width: 100vw;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
}

textarea {
  width: 100%;
  min-height: 500px;
}

.nav-tabs li {
  -webkit-user-select: none;
  user-select: none;
}

.nav-tabs li.pull-right a {
  margin-right: 0;
}

#floors,
#tilesets {
  height: calc(100vh - 72px);
  padding-bottom: 15px;
}

#floors { padding: 0; }

#scene-containers,
#tileset-containers,
.floor-containers {
  margin: 0;
  padding: 0;
}

#scene-containers > li,
#tileset-containers > li,
.floor-containers > li,
#sidebar-containers > li {
  padding: 15px;
  height: calc(100vh - 72px - 15px - 43px);
  border: 1px solid #ddd;
  border-top: none;
}

.tab-pane { overflow: auto; }

.tiles-container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile {
  float: left;
  margin: 5px;

  &.is-hidden { display: none; }
  &.is-active { box-shadow: 0 0 0 5px #03A9F4; }
}

.show-hidden-tiles {
  .tile {
    &.is-hidden {
      display: block;
      opacity: .2;
    }
  }
}
