.list-tiles {
  list-style: none;
  margin: 0;
  padding: 0;

  .list-tiles-item {
    display: inline-block;

    &.active {
      a { box-shadow: 0 0 0 2px $blue; }
    }
  }
}

@for $i from 0 through 11 {
  @for $j from 0 through 11 {
    [data-tile-type='#{$i * (48 + 2) + 2}-#{$j * (48 + 2) + 2}'] {
      background-image: url('../images/tiles.png');
      background-position-x: -#{$i * (48 + 2) + 2}px;
      background-position-y: -#{$j * (48 + 2) + 2}px;
      display: inline-block;
      height: 48px;
      width: 48px;
    }
  }
}

.pseudo-tile {
  display: none;
  height: 48px;
  position: absolute;
  width: 48px;
  z-index: 999;

  &.active { display: block; }
}
