.list-tiles {
  list-style: none;
  margin: 0;
  padding: 0;

  .list-tiles-item {
    display: inline-block;

    &.active {
      a { box-shadow: 0 0 0 2px $blue; }
    }
  }
}

[data-tile-type] {
  display: inline-block;
  height: 48px;
  width: 48px;
}
