@for $i from 0 through 11 {
  @for $j from 0 through 11 {
    .tile-#{$i}-#{$j} {
      background-image: url('../images/tiles.png');
      background-position-x: -#{$i * (48 + 2) + 2}px;
      background-position-y: -#{$j * (48 + 2) + 2}px;
    }
  }
}
