<div class="dropdown-menu" role="menu" style="display:none" >
  <a class='dropdown-item' href="#" data-action='remove'>Remove</a>
  <a class='dropdown-item' href="#" data-action='edit'>Edit</a>
</div>
