<li class="nav-item dropdown">
  <a class="nav-link" href='#' data-toggle="dropdown">Add</a>
  <div class="dropdown-menu">
    <a class='dropdown-item' id='add-scene' href="#">Scene</a>
    <a class='dropdown-item' id='add-layer' href="#">Layer</a>
    <a class='dropdown-item' id='add-tileset' href="#">TileSet</a>
  </div>
</li>
