<li class="tab-pane" id="{{id}}" data-model-id="{{id}}">
  <div class="row">
    <div class="col-md-3">
      <ul class='nav nav-pills nav-stacked layers-list'></ul>
    </div>
    <div class="col-md-9">
      <div class="canvas-container">
        <canvas width='{{width}}' height='{{height}}'></canvas>
      </div>
    </div>
  </div>
</li>
